html body {
    background-color: #F5F5F5; 
    color: #757575;
    padding: 0px 0px 2% 5%;
    font: Lato, sans-serif;
}

small {
    margin: -25px 0px 0px 0px;
}

.container{
    margin: 5% 50px 50px 50px;
}

.heading {
    font-size: 2.5em;
}

.description {
    color: #757575;
    padding: 0px 0px 0px 20px;
    margin: 10px 350px 0px 0px;
}

p {
    font-size: 1.25em;
    margin-right: 30%;
}

pre {
    font-size: 1.25em
}

.quote-block {
    min-height: 150px;
    max-height: 250px;
    width: 2.5%;
    float: left;
    background-color: darkcyan;
    margin: 0px 2.5% 0px 2.5%;
}

code {
    background-color: lightsteelblue;
    color: darkcyan;
    padding: 5px 7px 2px 7px;
}

.instructions {
    padding-top: 2.5%;
}

pre {
    font-size: 1em;
}